<div class="container mt-4">
  <h1 class="mb-4">New Booking</h1>

  <%= form_with(model: [@event, @booking], data: { turbo: false }) do |form| %>
    <% if @booking.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

        <ul>
          <% @booking.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :ticket_quantity, style: "display: block", class: "required-field mb-1" %>
      <%= form.number_field :ticket_quantity %>
    </div>

    <div>
      <%= form.hidden_field :event_id , style: "display: none"%>
    </div>

    <div>
      <%= form.submit class: "btn btn-secondary" %>
      <%= link_to "Close", events_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
