<div id="<%= dom_id(event) %>" class="card mb-3">
  <div class="card-header">
    <h3><%= event.name %></h3>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Description:</strong>
      <%= event.description %>
    </p>
    <p class="card-text">
      <strong>Location:</strong>
      <%= event.location %>
    </p>
    <p class="card-text">
      <strong>Event date:</strong>
      <%= l(event.event_date, format: :long) %>
    </p>
    <p class="card-text">
      <strong>Total tickets:</strong>
      <%= event.total_tickets %>
    </p>
    <p class="card-text">
      <strong>Available tickets:</strong>
      <%= event.available_tickets %>
    </p>
  </div>
</div>